<header class="navbar">
  <a href="/" class="navbar__brand">
    <img src="<%= config.site.logo %>" alt="<%= config.site.name %>" class="navbar__logo">
  </a>
  <nav class="navbar__links">
    <% navLinks.forEach(function(link) { %>
      <% if (link.type === 'text') { %>
        <a href="<%= link.href %>" class="navbar__link<%= link.active ? ' navbar__link--active' : '' %>"<% if (link.external) { %> target="_blank" rel="noopener noreferrer"<% } %>><%= link.label %></a>
      <% } else { %>
        <a href="<%= link.href %>" class="navbar__link navbar__link--icon" aria-label="<%= link.label %>"<% if (link.external) { %> target="_blank" rel="noopener noreferrer"<% } %>>
          <img src="<%= link.iconSrc %>" alt="" class="navbar__icon">
        </a>
      <% } %>
    <% }) %>
  </nav>
</header>
