<%- include('partials/head', { title }) %>
<%- include('partials/nav') %>

<main class="layout<%= hasSidebar ? '' : ' layout--full' %>">
  <section class="content">
    <%- include('partials/article', { article, showMeta }) %>
  </section>
  <% if (hasSidebar) { %><%- include('partials/sidebar') %><% } %>
</main>

<%- include('partials/footer') %>
